<div class="container-fluid mt-2 gx-0 p-0">
  <div class="row mt-1">
    <div class="col-6">
      <button type="button" class="btn btn-primary col-3"
              data-bs-toggle="modal"
              (click)="changeModalValue()"
              data-bs-target="#staticBackdrop">
        Create user
      </button>
    </div>
    <div class="col-6">
      <form class="col-12">
        <div class="form-group row">
          <label for="search" class="col-sm-3 col-form-label"></label>
          <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   id="search"
                   placeholder="Search user"
                   [(ngModel)]="query"
                   [ngModelOptions]="{standalone: true}"
            >
          </div>
        </div>
      </form>
    </div>
  </div>
  <table class="table col-12 mt-2">
    <thead class="table-dark">
    <tr class="tr">
      <th class="pb-3">Id</th>
      <th class="pb-3">Name</th>
      <th class="pb-3">Last Name</th>
      <th class="pb-3">Email</th>
      <th class="pb-3">Password</th>
      <th class="pb-3">Delete</th>
      <th class="pb-3">Edit</th>
    </tr>
    </thead>
    <tbody>
    <app-my-tr *ngFor="let user of users | searchFilter: query" [user]="user"></app-my-tr>
    </tbody>
  </table>
</div>

