<div class="mt-2 gx-0 p-0">
  <div class="fixed">
    <div class="row body">
      <div class="col-6">
        <button type="button" class="btn btn-primary col-3 mt-3"
                data-bs-toggle="modal"
                (click)="changeModalValue()"
                data-bs-target="#staticBackdrop">
          Create user
        </button>
      </div>
      <div class="col-6">
        <form class="col-12">
          <div class="form-group row">
            <label for="search" class="col-sm-3 col-form-label "></label>
            <div class="col-sm-9">
              <input type="text"
                     class="form-control mt-3"
                     id="search"
                     placeholder="Search user"
                     [(ngModel)]="query"
                     [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="tr col-12 ">
    <div class="row">
      <div class="col-1"><p>Id</p></div>
      <div class="col-2"><p>Name</p></div>
      <div class="col-2"><p>Last Name</p></div>
      <div class="col-3"><p>Email</p></div>
      <div class="col-2"><p>Password</p></div>
      <div class="col-1"><p>Delete</p></div>
      <div class="col-1"><p>Edit</p></div>
    </div>
  </div>
  <div class="scrolling-container" (scroll)="onWindowScroll($event)">
    <app-my-tr *ngFor="let user of users | searchFilter: query;" [user]="user"></app-my-tr>
  </div>
</div>


