<td class="col-1 pt-3">{{user.Id}}</td>
<td class="col-2 pt-3">{{user.FirstName}}</td>
<td class="col-2 pt-3">{{user.LastName}}</td>
<td class="col-2 pt-3">{{user.Email}}</td>
<td class="col-3 pt-3">{{user.Password}}</td>
<td class="col-1">
  <div class="row justify-content-end">
    <button type="button"
            class="btn btn-danger me-2"
            (click)="deleteUser(user.Id)">
      delete
    </button>
  </div>
</td>
<td class="col-1">
  <div class="row justify-content-end">
    <button type="button" class="btn btn-dark me-2"
            data-bs-toggle="modal"
            (click)="createEditingModel()"
            data-bs-target="#staticBackdrop">
      edit
    </button>
  </div>
</td>


